body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.centered-select {
  margin-left: 1000px;
}
.main-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  border: 4px solid silver;
  box-sizing: border-box;
}
.main-container {
  margin: 100px auto;
  max-width: 1200px;
  height: 900px;
  overflow: auto;
  background-color: #133;
  border-radius: 25px;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.clamp {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.clamp-inner {
  width: 200px;
  height: 50px;
  background-color: silver; 
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clamp-slider {
  width: 50px;
  height: 30px;
  background-color: #ccc;
  border-radius: 5px;
  margin-left: 10px;
  position: relative;
}

.clamp-slider:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.sheet {
  background-color: #fff;
  padding:  40px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 90%;
  margin-top: -80px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

section {
	padding: 10px;
  text-align: center;
}

footer {
  background-color: #3133;
  color: #fff;
  padding: 10px;
  text-align: center;
}
