@page
@model addrecptModel
@{
    ViewData["Title"] = "addrecpt";
}

<main class="main-container">
    <div class="clamp">
        <div class="clamp-inner">
        </div>
    </div>
    <div class="sheet">
        <p class="top-name">ADD RECPT</p>
        <hr class="underline">
        <div class="add_form">
            <input type="text" class="text" id="recipeName" placeholder="Введите название" />
            <input type="text" id="calories" class="text" placeholder="Введите калорийность" />
            <input type="text" id="ingredients" class="text" placeholder="Введите ингредиенты" />
            <input type="text" id="portionWeight" class="text" placeholder="Введите вес одной порции" />
            <button class="editor">Добавить</button>
        </div>
        <hr class="underline">
    </div>
    <div class="button-container">
        <button><a asp-area="" asp-page="/Warehouse">Склад</a></button>
        <button><a asp-area="" asp-page="/Index">Рецепты</a></button>
    </div>
</main>
