@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="main-container">
    <div class="clamp">
        <div class="clamp-inner">
        </div>
    </div>
    <div class="sheet">
        <div class="left-circle"></div>
        <div class="right-circle"></div>
        <p class="top-name">MENU</p>
        <hr class="underline">
        <p class="underline-name ">Food and more</p>
        <table class="borderless-table">
            <tr>
                <th>Название</th>
                <th>Калорийность</th>
                <th>Продукты</th>
                <th>вес одной порции</th>
            </tr>
            <tr>
                <td>Блюдо 1</td>
                <td>200 ккал</td>
                <td>Ингредиенты 1, 2, 3</td>
                <td>200г</td>
            </tr>
            <tr>
                <td>Блюдо 2</td>
                <td>300 ккал</td>
                <td>Ингредиенты 4, 5</td>
                <td>300г</td>
            </tr>
            <tr>
                <td>Блюдо 3</td>
                <td>150 ккал</td>
                <td>Ингредиенты 6, 7, 8, 9</td>
                <td>150г</td>
            </tr>
        </table>

    </div>
    <div class="button-container">
        <button id="addButton">Добавить</button>
    <button>Редакт</button>
    <button>Подсчёт</button>
    <button>Склад</button>
    </div>
    <div class="main-border"></div>
</main>
