@page
@model IndexModel
<main class="main-container">
    <div class="clamp">
        <div class="clamp-inner">
        </div>
    </div>
    <div class="sheet">
        <div class="left-circle"></div>
        <div class="right-circle"></div>
        <p class="top-name">MENU</p>
        <hr class="underline">
        <p class="underline-name ">Food and more</p>
        <table class="borderless-table">
            <tr>
                <th>Название</th>
                <th>Калорийность</th>
                <th>Продукты</th>
                <th>Вес одной порции</th>
                <th></th>
            </tr>
@*            @foreach (var recipe in RecipesService.GetRecipes())
            {
                <tr>
                    <td>@recipe.RecipeName</td>
                    <td>@recipe.CalorieValue</td>
                    <td>@recipe.IngredientsNeeded</td>
                    <td>@recipe.DishWeight</td>
                </tr>
            }*@
        </table>
    </div>
    <div class="button-container">
        <a asp-area="" asp-page="/addrecpt"><button>Добавить</button></a>
        <a asp-area="" asp-page="/dellrecpt"><button>Удалить</button></a>
        <a asp-area="" asp-page="/Editor"><button>Редактор</button></a>
        <button>Подсчёт</button>
        <a asp-area="" asp-page="/Warehouse"> <button>Склад</button></a>
    </div>
    <div class="main-border"></div>
</main>
