@page
@using Chef_Helper_API;
@using Chef_Helper_API.Models;
@using Chef_Helper_API.Services
@inject RecipesService RecipesService
@model IndexModel
<main class="main-container">
    <div class="clamp">
        <div class="clamp-inner">
        </div>
    </div>
    <div class="sheet">
        <div class="left-circle"></div>
        <div class="right-circle"></div>
        <p class="top-name">MENU</p>
        <hr class="underline">
        <p class="underline-name ">Food and more</p>
        <table class="borderless-table">
            <tr>
                <th>Название</th>
                <th>Калорийность</th>
                <th>Продукты</th>
                <th>вес одной порции</th>
            </tr>
            @foreach (var recipe in RecipesService.GetRecipes())
            {
                        <tr>
                        <td>@recipe.RecipeName</td>
                        <td>@recipe.CalorieValue</td>
                        <td>@recipe.IngredientsNeeded</td>
                        <td>@recipe.DishWeight</td>
                        </tr>
            }
        </table>

    </div>
    <div class="button-container">
        <button>Добавить</button>
        <button>Редакт</button>
        <button>Подсчёт</button>
        <button>Склад</button>
    </div>
    <div class="main-border"></div>
</main>
