@page
@model WarehouseModel
@{
    ViewData["Title"] = "Warehouse";
}

<main class="main-container1">
    <div class="clamp">
        <div class="clamp-inner">
        </div>
    </div>
    <div class="sheet">
        <p class="top-name">Warehouse</p>
        <hr class="underline">
        <p class="underline-name ">Food and more</p>
        <table class="borderless-table">
            <tr>
                <th>Номер коробки</th>
                <th>Название</th>
                <th>Количетсво продукта</th>
            </tr>
            @* @foreach (var recipe in RecipesService.GetRecipes())
            {
                <tr>
                    <td>@recipe.RecipeName</td>
                    <td>@recipe.CalorieValue</td>
                    <td>@recipe.IngredientsNeeded</td>
                </tr>
            }*@

        </table>

    </div>
    <div class="button-container">
        <a asp-area="" asp-page="/addring"><button>Добавить</button></a>
       <a asp-area="" asp-page="/delling"> <button>Удалить</button></a>
        <a asp-area="" asp-page="/Editor"> <button>Редактор</button></a>
        <button>Подсчёт</button>
        <a asp-area="" asp-page="/Index"><button>Рецепты</button></a>
    </div>
</main>
